.DS_Store
.svn
db/*.sqlite3
db/schema.rb
jetty/logs/*.log
jetty/solr/data/*
log/*
config/SolrMarc/*.log*
tmp/
*.log

public/stylesheets/ie.css
public/stylesheets/layout.css
public/stylesheets/print.css
public/stylesheets/screen.css
public/stylesheets/surface.css
public/stylesheets/layout_digital_library.css
public/stylesheets/surface_digital_library.css
app/stylesheets/surface_digital_library.css
app/stylesheets/layout_digital_library.css
app/stylesheets/.sass-cache/096751e40bb11b933e355a3b8a6f4f00182e89f7/_surface_mixin_and_properties.sassc
app/stylesheets/.sass-cache/096751e40bb11b933e355a3b8a6f4f00182e89f7/_layout_mixin_and_properties.sassc
public/stylesheets/layout_iphone.css
public/stylesheets/surface_iphone.css