[submodule "vendor/plugins/blacklight"]
	path = vendor/plugins/blacklight
	url = http://github.com/projectblacklight/blacklight.git
[submodule "jetty"]
	path = jetty
	url = http://github.com/projectblacklight/blacklight-jetty.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git@github.com:boonious/will_paginate.git
[submodule "vendor/plugins/mobile-fu"]
	path = vendor/plugins/mobile-fu
	url = git://github.com/brendanlim/mobile-fu.git
