@import partials/layout_mixin_and_properties
@import layout_digital_library

body
	position: relative
	text-align: left

#left_header_menu 
	+horizontal_links
	+column(6)

#right_header_menu
	+horizontal_links("none")
	text-align: right

#page 
	z-index: 2

#commons 
	padding: 0 $baseline_grid_size
	min-height: $baseline_grid_size * 16
	
// mobile digital library

.mobile_main_footer
	padding: 0 $blueprint_grid_width $blueprint_grid_width $blueprint_grid_width
	text-align: center

.mobile_keyword_input_fieldset
	text-align: center

#mobile_sort_results
	display: inline
	float: right
	margin-right: 0px
	margin-top: -2*$baseline_grid_size

#mobile_google_preview
	+column(10)
	height: 600px
	
#mobile_custom_preview
	margin: $baseline_grid_size 0 $baseline_grid_size 0

.mobile_common_label
	+column(2.5)

.mobile_common_value
	margin-left: ($blueprint_grid_width + $blueprint_grid_margin)*2.5

.mobile_files_list
	margin-top: $baseline_grid_size
	padding: 0