@import partials/layout_mixin_and_properties
@import layout_digital_library

body
	position: relative
	text-align: left

#left_header_menu 
	+horizontal_links

#right_header_menu
	+horizontal_links("none")
	text-align: right

#page 
	z-index: 2

#commons 
	padding: 0 $baseline_grid_size

// mobile digital library

.mobile_keyword_input_fieldset
	text-align: center

#mobile_sort_results
	display: inline
	float: right
	margin-right: 0px
	margin-top: -2*$baseline_grid_size