@import partials/layout_mixin_and_properties
@import compass/utilities/lists/horizontal-list

#search
	margin: $baseline_grid_size 0 $baseline_grid_size 0
	overflow: auto
	
.facet_limit
	+horizontal_list
	li:first-child
		padding-left: 4px
	margin-bottom: $baseline_grid_size
	