@import partials/layout_mixin_and_properties
@import compass/utilities/lists/horizontal-list

#search
	margin: $baseline_grid_size 0 $baseline_grid_size 0
	overflow: auto

#sort_results
	+column(5)
	float: right

#google_preview
	+column(20)
	height: $baseline_grid_size * 38
	margin-top: $baseline_grid_size * 2

#custom_preview
	margin-top: $baseline_grid_size * 2
	
.google_viewer
	+column(20)
	height: $baseline_grid_size * 38

.google_viewer_audio
	+column(20)
	height: $baseline_grid_size * 3

.facet_limit
	+horizontal_list
	li:first-child
		padding-left: 4px
	margin-bottom: $baseline_grid_size

.book_cover
	+column(5)
	margin: 0 $baseline_grid_size $baseline_grid_size 0

.search_results_thumhnail
	+column(3)
	margin: $baseline_grid_size 0 $baseline_grid_size 0

.common_label
	+column(3)

.common_value
	margin-left: ($blueprint_grid_width + $blueprint_grid_margin)*3
	
.common_value_wider
	margin-left: ($blueprint_grid_width + $blueprint_grid_margin)*8
	
.snippet
	margin-top: $baseline_grid_size * 0.5
	margin-bottom: $baseline_grid_size * 0.5
	line-height: $baseline_grid_size

.files_list
	margin-left: 0
	padding-left: $blueprint_grid_width

#login
	margin-top: $baseline_grid_size

#bookmarks li
	margin-top: $baseline_grid_size
	
.bookmark_button
	margin-top: $baseline_grid_size * 0.5
	background-color: #eee
	border-color: #777
	border-style: solid
	border-width: 1px
	padding: 4px
	font-size: 78%
	
.document_overview
	+column(16)
	
.bookmarks_control
	+column(4,true)	
	