@import partials/surface_mixin_and_properties

.facets
	a
		border-bottom: 1px dotted $dark_highlight
		text-decoration: none
		
.facet_number, .filterName
	font-size: 88%
	padding-left: 3px
	color: $quiet-color