>
%span.appliedFilter.constraint{ :class => options[:classes]}
	- unless value.blank?
		%span.filterValue= options[:escape_value] ? h(value) : value
	- unless label.blank?
		%span.filterName
			= options[:escape_label] ? "[" + h(label) + "]": "[" + label + "]"
	- unless options[:remove].blank?
		= link_to('x', options[:remove], :class=>'btnRemove imgReplace', :alt=>'remove')
	- if options[:check]
		= image_tag("checkmark.gif", :alt=>"", :plugin=>'blacklight')
