%section#documents
	- @document_list.each_with_index do |document,counter|
		%section.document
			&nbsp;
			- if document["isbn_t"] and @gdata
				- @gdata_image_url = @gdata.select {|gdata| gdata[1].include?(document["isbn_t"][0]) and gdata[0].include?("frontcover") }[0]
				- if @gdata_image_url
					%section.search_results_thumhnail
						%img{:src => @gdata_image_url}
			%p
				= counter + 1 + @response.params[:start].to_i
				= link_to_document document, :label=>document_show_link_field, :counter => (counter + 1 + @response.params[:start].to_i)
				= render_document_partial document, :index, :main
				= render :partial=>'bookmark_control', :locals=>{:document=>document}
			%hr.results_item_separator
