%h3 Welcome!

%p
	:markdown
		This is a digital library prototype which is being developed by
		the [UX2](http://ux2.nesc.ed.ac.uk/) project. The site
		contains various e-Science training resources and the CERN book catalogue.
