%h3 Welcome!

%p
	:markdown
		This is a digital library prototype which demonstrates the technology
		in development by the [JISC Usability and Contemporary User 
		Experience in Digital Libraries](http://ux2.nesc.ed.ac.uk/) 
		(UX2.0) project. 
%p	
	The content of this site is based on a
	concentration of e-Science training resources and the
	book catalogue from CERN.
