%h3 Welcome!

%p 
	This is a digital library which demonstrates the technology
	in development by the JISC Usability and Contemporary User 
	Experience in Digital Libraries (UX2.0) project. 
%p	
	The content of this site is based on a
	concentration of e-Science training resources and the
	book catalogue from CERN.
