-if params[:q].blank? and params[:f].blank? and params[:search_field].blank?
	-# if there are no input/search related params, display the "home" partial
	= render 'home'
-else
	%section#commons
		= render :partial=>'facets'